body{
  background-color: #12634;
}
  
h1 {
  text-align: center;
  color: grey
}

p {
  color: grey;
  text-align: center;
}


h2 {
text-align: center;
color: grey;
}

.bilde{
  width: 200px;
  border-radius: 50%;
  border-color: grey;
  border-width: 4px;
  border-style: solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-topp: 40px;
}



.sitat{
  font-weight: bold;
  font-style: italic;
  font-size: 50px
}

.Overskrift{
  margin-top: 50px;
}

.forfatter{
  font-style: italic;


}
ul{
  text-align: center;
  color:grey
}

li{
  text-align: center;
  color: grey
}
